
/*===================================================================================*/
/* Header
/*===================================================================================*/
header{background:#000080}

.main-header {
  padding:5px 0px 12px 0px;
}
.main-header .logo-holder {
  margin-top: 10px;
}
.main-header .top-search-holder .contact-row {
  line-height: 20px;
  color: #9b9b9b;
}
.main-header .top-search-holder .contact-row .phone {
  margin: 0 23px 0 0;
  border-right: 1px solid #E2E2E2;
  padding-right: 35px;
}
.main-header .top-search-holder .contact-row .icon {
  font-size: 18px;
  line-height: 23px;
  margin: 0 8px 0 0;
  vertical-align: middle;
}
.main-header .top-search-holder .search-area {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 8px 0 0;
  background:#fff;
  border-radius:2px;
}
.main-header .top-search-holder .search-area .search-field {
  border: medium none;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  padding: 13px;
  width: 67%;
}
.main-header .top-search-holder .search-area .categories-filter {
  border-right: 1px solid #E0E0E0;
  text-transform: capitalize;
  display: inline-block;
  line-height: 44px;
  background: #f6f6f6;
  border-radius:3px 0px 0px 3px
}
.main-header .top-search-holder .search-area .categories-filter a {
  padding: 0 10px;
  color: #666;
  font-size: 13px;
}
.main-header .top-search-holder .search-area .categories-filter a .caret {
  margin-left: 15px;
  color: #a0a0a0;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  padding: 12px 17px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li {
  margin-bottom: 10px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a {
  padding: 0px;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:hover,
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:focus {
  background: rgba(0, 0, 0, 0);
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li.menu-header {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}
.main-header .top-search-holder .search-area .search-button {
  border-radius: 0px 3px 3px 0px;
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 12px 19px 12px;
  text-align: center;
    background-color: #fdd922;
    border: 1px solid #e0bc27;
}
.main-header .top-search-holder .search-area .search-button:after {
  color: #333;
  content: "\f002";
  font-family: fontawesome;
  font-size: 16px;
  line-height: 9px;
  vertical-align: middle;
}
.cnt-home .header-style-1.header-style-2 .header-nav .navbar-default {
  background: #404040;
}
.top-cart-row {
  padding-top:8px;
  padding-left:0px
}
.top-cart-row .dropdown-cart {
  float: right;
}

.top-cart-row .dropdown-cart img {width:100%}

.top-cart-row .dropdown-cart .lnk-cart {
  padding: 0px;
      background: #006cb4;
    border: 1px solid #24609c;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner {
  position: relative;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket {
    padding: 12px 12px 13px 15px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    float: left;
    letter-spacing: 0.5px;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket {
  float: left;
  padding: 12px;
  border-right: 1px solid rgba(255,255,255,0.2);
  padding: 12px 18px 13px 12px;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket-item-count {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
    height: 18px;
    position: absolute;
    left: 34px;
    top: 13px;
    width: 18px;
    background: #fdd922;
    color: #0f6cb2;
    font-size: 11px;
    text-align: center;
    line-height: 19px;;
}
.top-cart-row .dropdown-cart .dropdown-menu {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: right;
  left: auto;
  min-width: 0;
  padding: 24px 22px;
  right: 0;
  width: 230px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name a {
  color: #666666;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .price {
  font-weight: 700;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action {
  padding: 0;
  position: relative;
  font-size: 15px;
  right: 8px;
  top: 8px;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action a {
  color: #898989;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-total .text {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  margin-right: 10px;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-total .price {
  font-weight: 700;
}
.header-style-1 .header-nav .navbar-default {
  border: medium none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  margin: 0;
  min-height:auto;
}
.header-style-1 .header-nav .navbar-default .navbar-collapse {
  padding: 0;
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li.active > a {
  color: #fff;
}
.navbar-nav {float:none}

.special-menu {float:right}
.special-menu a {color:#ffdd35!important; border:none!important; padding-right:0px!important} 
.special-menu a:hover{ background:none!important; color:#fff!important}

.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding: 11px 15px;
  text-transform: uppercase;
  -webkit-transitio: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  font-weight:normal;
  letter-spacing:0.5px;
  border-right: 1px solid rgba(255,255,255,0.1);
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label {
  position: absolute;
  text-transform: uppercase;
  top: -10px;
  display: inline;
  padding: 1px 7px;
  color: #fff;
  font-size: 9px;
  font-family: 'Open Sans', sans-serif;
  right: 23px;
  line-height: normal;
  letter-spacing:1px;
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label:after {
  border-width: 6px 7px 0 6px;
  right: 18px;
  top: 90%;
  border-style: solid;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transitio: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0;
  z-index: 100;
  
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label:before {
  right: 18px;
  top: 90%;
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label.new-menu {
  background: #f1c40f;
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label.new-menu:after {
  border-color: #f1c40f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label.new-menu:before {
  border-color: #f1c40f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label.hot-menu {
  background: #ff7878;
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label.hot-menu:after {
  border-color: #ff7878 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li .menu-label.hot-menu:before {
  border-color: #ff7878 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.header-style-2 {
  /*margin-bottom:10px;*/
}
.header-style-2 .header-nav {
  background: rgba(0, 0, 0, 0) !important;
}
.header-style-2 .header-nav .navbar-default .nav-bg-class {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
}
.header-style-2 .header-nav .navbar-default .nav-bg-class .navbar-collapse .navbar-nav > li > a {
  color: #555;
}
.header-style-2 .header-nav .navbar-default .nav-bg-class .navbar-collapse .navbar-nav > li > a:hover,
.header-style-2 .header-nav .navbar-default .nav-bg-class .navbar-collapse .navbar-nav > li > a:focus {
  color: #fff;
}
.header-style-2 .header-nav .navbar-default .nav-bg-class .navbar-collapse .navbar-nav > li.open > a {
  color: #fff;
}
.header-style-3 .header-nav {
  background: #202020 !important;
  border: medium none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
}
.header-style-3 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a {
  color: #fff;
}
.header-style-3 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:hover,
.header-style-3 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:focus {
  color: #fff;
}
.header-style-3 .header-nav .yamm .dropdown-menu {
  top: 62px;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .dropdown-menu {
  left:auto;
  top: 100% ;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border:none;
  padding:0px
}

.yamm .dropdown-menu .custom-banner a {padding:0px}
.yamm .dropdown-menu .banner-image { margin-bottom:-20px}

.navbar-nav .open a{
    float: none;
	background:#fff!important;
	color:#888!important;
	border-radius:3px 3px 0px 0px;
}

.yamm .dropdown-menu .yamm-content {
  padding: 20px 20px;

}

.yamm .dropdown-menu .yamm-content .col-menu {min-width:150px}

.yamm .dropdown-menu .yamm-content .links li a {
  padding: 4px 0px;
  font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
	font-size:13px;
	color:#565656;
	
}


.yamm .dropdown-menu h2 {
  font-size: 14px;
  color: #555;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
  font-weight:bold
}
.yamm .dropdown-menu li {
  line-height:normal;
  padding: 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.yamm .dropdown-menu li a {
  color: #3D3D3D;
  line-height: normal;
  text-transform: none ;
  display: block;
  padding: 8px 16px;
}
.yamm .dropdown-menu li a:hover,
.yamm .dropdown-menu li a:focus {
  background: rgba(0, 0, 0, 0);
  margin-left: 0px;
}
.yamm .dropdown-menu .text {
  font-size: 13px;
  line-height: 20px;
  position: relative;
  bottom: 0px;
  top: 73px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.cnt-home .header-style-1.header-style-2 .header-nav .navbar .navbar-nav > li.active > a,
.cnt-homepage .header-style-1.header-style-2 .header-nav .navbar .navbar-nav > li.active > a {
  color: #fff;
}
.cnt-home .header-style-1.header-style-2 .header-nav .navbar-default {
  background: #404040;
}
.cnt-home .header-style-1.header-style-2 .header-nav .navbar-default .nav-bg-class {
  border: none;
}
.cnt-home .header-style-1.header-style-2 .header-nav .navbar-default .nav-bg-class .navbar-collapse .navbar-nav > li > a {
  color: #fff;
}
.cnt-homepage .header-style-2 .header-nav .navbar-default {
  background: #fff;
}
.cnt-homepage .header-style-2 .header-nav .navbar-default .nav-bg-class {
  -moz-box-shadow: 0 0 0 3px #F6F6F6 inset;
  -webkit-box-shadow: 0 0 0 3px #F6F6F6 inset;
  box-shadow: 0 0 0 3px #F6F6F6 inset;
}
.header-nav .navbar-default .dropdown .dropdown-menu.pages .links > li {
  border-bottom: 1px solid #E0E0E0;
  padding: 5px 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-nav .navbar-default .dropdown .dropdown-menu.pages .links > li:last-child {
  border-bottom: none;
}
.header-nav .navbar-default .dropdown .dropdown-menu.pages .links > li > a {
  line-height: 26px;
  padding: 0px;
}
.header-nav .navbar-default .dropdown .dropdown-menu.pages .links > li > a:hover,
.header-nav .navbar-default .dropdown .dropdown-menu.pages .links > li > a:focus {
  margin-left: 0px;
}